.grid-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  max-width: 600px;
  width: 100%;
  min-height: 450px;
  margin: auto;
  border-radius: 8px;
}

div {
  text-align: left;
}

#textContainer{
  padding: 1.5rem;
}

#product {
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

body{
    background-color:hsl(30, 38%, 92%);
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Fraunces', serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    margin:0.75rem;
}

#price{
  font-family:'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  font-weight: 80px
}

#oldPrice{
  color:black;
  font-size:15px;
}

button{
  background-color: hsl(158, 36%, 37%);
  color:white;
  border-radius:8px;
  border: none;
  width:75%;
  height: 50px;
  font-family:'Montserrat', sans-serif; 
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 700px) {
  .grid-container{
    grid-template-columns: 1fr;
  }
}