.grid-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;
  background-color: white;
  width: 600px;
  height: 450px;
  margin: auto;
  border-radius: 8px;
}

div {
  text-align: left;
  width: 250px;
  height: 297px;
}

#product {
    width:250px;
    height: 450px;
}

body{
    background-color:hsl(30, 38%, 92%);
    padding:150px;
}

h1{
    font-family: 'Fraunces', serif;
}

p{
    font-family: 'Montserrat', sans-serif; ;
}

#price{
  font-family:'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  font-weight: 80px
}

#oldPrice{
  color:black;
  font-size:15px;

}

.grow{
  flex-grow: 1;
}

button{
  background-color: hsl(158, 36%, 37%);
  color:white;
  border-radius:8px;
  border: none;
  width:250px;
  height: 50px;
  font-family:'Montserrat', sans-serif; 
  font-size: 18px;
}